.App {
  text-align: center;
}

.horizontal-layout {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}

.Navigation, .Pomodoro {
  flex: 1; 
}
.dashboard{
  margin-top: -15em;
  margin-left: 31em;
}

.vertical-layout{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:20px;
  /* align-items: center; */
  padding: 2em 0;
}
.vertical-layout-1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:150px;
}
.habits{
  margin-left: 6em;
  margin-top: -20em;
}
